.bg-scatter {
  position: relative;
  background-color: #151617;
  --pattern-opacity: 0.1;
}

.bg-scatter:before {
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: var(--pattern-opacity);
  background-image: url('/assets/images/scatter-background.png');
}

.scatter-content {
  position: relative;
}
