.underline {
  position: relative;
}

.underline:before {
  content: '';
  position: absolute;
  top: 100%;
  width: 100%;
  left: 0;
  height: 1px;
  background: linear-gradient(
    270.16deg,
    rgba(255, 255, 255, 0.4) 0%,
    rgba(255, 255, 255, 0) 50%,
    rgba(255, 255, 255, 0.4) 100%
  );
}
