@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 20px;
  font-family: Inter, Voyage, sans-serif;
}

.font-Subjectivity {
  font-family: Subjectivity, sans-serif;
}

.font-Voyage {
  font-family: Voyage, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

.btn {
  @apply focus:outline-none focus:ring disabled:opacity-50 font-bold rounded-full disabled:cursor-not-allowed;
}

.btn-primary {
  @apply bg-primary focus:ring-primary-75 text-white;
}

.btn-warning {
  @apply bg-warning to-warning-75 focus:ring-warning-75 text-white;
}

.btn-danger {
  @apply bg-danger focus:ring-danger-75 text-white;
}

.btn-white {
  @apply bg-white focus:ring-light-75 text-primary;
}

.btn-light {
  @apply bg-light focus:ring-light-75 text-light-500;
}

.btn-lg {
  @apply px-60 py-15 text-20 rounded-full;
}

.btn-md {
  @apply px-20 py-15 text-20 rounded-full;
}

.btn-sm {
  @apply px-10 py-10 text-14 rounded-full;
}

.btn-mini {
  height: 30px;
  @apply px-5 py-5 text-10 rounded-full;
}

.border-gradient-light {
  border-image: url('#') 1 round;
  border-image-source: linear-gradient(270.16deg, rgba(255, 255, 255, 0.4) 1.04%, rgba(255, 255, 255, 0) 48.58%, rgba(255, 255, 255, 0.4) 100.31%);
}

.border-gradient-dark {
  border-image: url('#') 1 round;
  border-image-source: linear-gradient(270.16deg, rgba(0, 0, 0, 0.4) 1.04%, rgba(0, 0, 0, 0) 48.58%, rgba(0, 0, 0, 0.4) 100.31%);
}

.border-gradient-dark-linner {
  border-image: url('#') 1 round;
  border-image-source: linear-gradient(45deg, rgba(0, 0, 0, 0.4) 1.04%, rgba(0, 0, 0, 0) 48.58%, rgba(0, 0, 0, 0.4) 100.31%);
}

.dark-background-image {
  @apply bg-secondary;
  background-image: url('/assets/images/dark-background-tile.png');
}

.light-background-image {
  @apply bg-light;  background-image: url('/assets/images/light-background-tile.png');
}

.faq-content-background {
  background: conic-gradient(from 180deg at 50% 50%, rgba(255, 255, 255, 0) -38.96deg, rgba(255, 255, 255, 0.395276) 63.31deg, #FFFFFF 169.87deg, rgba(255, 255, 255, 0) 321.04deg, rgba(255, 255, 255, 0.395276) 423.31deg),
  linear-gradient(0deg, #A44242, #A44242);

}

/* swiper */
.swiper-pagination-bullet {
  @apply bg-white bg-opacity-60 w-10 h-10 rounded-full mx-5;
}

.swiper-pagination-bullet-active {
  @apply bg-opacity-100;
}

/* screen */
.h-screen-without-navbar {
  height: calc(100vh - 105px);
}
.h-screen-without-navbar-and-state {
  height: calc(100vh - 155px);
}

/* background */
.eth-clock-back {
  background: url('/assets/images/landing-page/eth-clock-design-with-empty-back.png') no-repeat center center;
}

/* animataion */
.animate-spin-60s {
  animation: spin 60s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* vertical letter */
.vertical-letter {
  writing-mode: vertical-rl;
  text-orientation: upright;
}
