@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Future Classic';
  src: url('/assets/fonts/Future Classic/FutureClassicRegular.ttf')
    format('truetype');
  font-style: normal;
}

@font-face {
  font-family: 'Voyage';
  src: url('/assets/fonts/Voyage/Voyage-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Voyage';
  src: url('/assets/fonts/Voyage/Voyage-Bold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Subjectivity Serif';
  src: url('/assets/fonts/Subjectivity Serif/SubjectivitySerif-Black.woff2')
    format('woff2');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Subjectivity Serif';
  src: url('/assets/fonts/Subjectivity Serif/SubjectivitySerif-Black-Italic.woff2')
    format('woff2');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Subjectivity Serif';
  src: url('/assets/fonts/Subjectivity Serif/SubjectivitySerif-Light.woff2')
    format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Subjectivity Serif';
  src: url('/assets/fonts/Subjectivity Serif/SubjectivitySerif-Light-Italic.woff2')
    format('woff2');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Subjectivity Serif';
  src: url('/assets/fonts/Subjectivity Serif/SubjectivitySerif-Medium.woff2')
    format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Subjectivity Serif';
  src: url('/assets/fonts/Subjectivity Serif/SubjectivitySerif-Medium-Italic.woff2')
    format('woff2');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Subjectivity Serif';
  src: url('/assets/fonts/Subjectivity Serif/SubjectivitySerif-Bold.woff2')
    format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Subjectivity Serif';
  src: url('/assets/fonts/Subjectivity Serif/SubjectivitySerif-Bold-Italic.woff2')
    format('woff2');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Subjectivity Serif';
  src: url('/assets/fonts/Subjectivity Serif/SubjectivitySerif-Thin.woff2')
    format('woff2');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Subjectivity Serif';
  src: url('/assets/fonts/Subjectivity Serif/SubjectivitySerif-Thin-Italic.woff2')
    format('woff2');
  font-weight: 300;
  font-style: italic;
}

html {
  font-size: 20px;
  font-family: Inter, Voyage, sans-serif;
}

.font-Future {
  font-family: Future Classic, sans-serif;
}

.font-Subjectivity {
  font-family: Subjectivity, sans-serif;
}

.font-Voyage {
  font-family: Voyage, sans-serif;
}

.font-Inter {
  font-family: Inter, sans-serif;
}

a {
  color: inherit;
  text-decoration: none !important;
}

.fill-opacity-0 {
  fill-opacity: 0;
}

.fill-opacity-1 {
  fill-opacity: 1;
}

.back-drop {
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(116.667px);
}

.btn {
  @apply focus:outline-none focus:ring disabled:opacity-50 font-bold rounded-full disabled:cursor-not-allowed;
}

.btn-primary {
  @apply bg-primary focus:ring-primary-75 text-white;
}

.btn-warning {
  @apply bg-warning to-warning-75 focus:ring-warning-75 text-white;
}

.btn-danger {
  @apply bg-danger focus:ring-danger-75 text-white;
}

.btn-white {
  @apply bg-white focus:ring-light-75 text-primary;
}

.btn-light {
  @apply bg-light focus:ring-light-75 text-light-500;
}

.btn-lg {
  @apply px-60 py-15 text-20 rounded-full;
}

.btn-md {
  @apply px-20 py-15 text-20 rounded-full;
}

.btn-sm {
  @apply px-10 py-10 text-14 rounded-full;
}

.btn-mini {
  height: 30px;
  @apply px-5 py-5 text-10 rounded-full;
}

.border-gradient-light {
  border-image: url('#') 1 round;
  border-image-source: linear-gradient(
    270.16deg,
    rgba(255, 255, 255, 0.4) 1.04%,
    rgba(255, 255, 255, 0) 48.58%,
    rgba(255, 255, 255, 0.4) 100.31%
  );
}

.border-gradient-dark {
  border-image: url('#') 1 round;
  border-image-source: linear-gradient(
    270.16deg,
    rgba(0, 0, 0, 0.4) 1.04%,
    rgba(0, 0, 0, 0) 48.58%,
    rgba(0, 0, 0, 0.4) 100.31%
  );
}

.border-gradient-dark-linner {
  border-image: url('#') 1 round;
  border-image-source: linear-gradient(
    45deg,
    rgba(0, 0, 0, 0.4) 1.04%,
    rgba(0, 0, 0, 0) 48.58%,
    rgba(0, 0, 0, 0.4) 100.31%
  );
}

.perk-and-utility-item-border {
  border: 1px solid;
  border-image-source: linear-gradient(
    225.01deg,
    rgba(0, 0, 0, 0.4) 2.38%,
    rgba(0, 0, 0, 0) 47.87%,
    rgba(0, 0, 0, 0.4) 97.35%
  );
}

.gallery-item-border {
  border: 2px solid;
  border-image-source: linear-gradient(
    270.16deg,
    #af5f5f 1.04%,
    rgba(175, 95, 95, 0) 48.58%,
    #af5f5f 100.31%
  );
}

.dark-background-image,
html {
  @apply bg-secondary;
  background-image: url('/assets/images/dark-background-tile.png');
}

.light-background-image {
  background-color: rgb(190, 190, 190);
  background-image: url('/assets/images/light-background-tile.png');
}

.faq-content-background {
  background: conic-gradient(
      from 180deg at 50% 50%,
      rgba(255, 255, 255, 0) -38.96deg,
      rgba(255, 255, 255, 0.1) 63.31deg,
      rgba(255, 255, 255, 0.4) 169.87deg,
      rgba(255, 255, 255, 0) 321.04deg,
      rgba(255, 255, 255, 0.1) 423.31deg
    ),
    #a44242;
}

.road-map-letter-background {
  background: conic-gradient(
    from -68.85deg at 57.26% 57.65%,
    rgba(255, 255, 255, 0) -38.96deg,
    rgba(255, 255, 255, 0.395276) 63.31deg,
    rgba(255, 255, 255, 0) 135.19deg,
    #ffffff 170.58deg,
    rgba(255, 255, 255, 0) 321.04deg,
    rgba(255, 255, 255, 0.395276) 423.31deg
  );
  background-repeat: no-repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.perk-and-utility-item-background {
  background: radial-gradient(
    79.78% 79.78% at 25.95% 85.33%,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.0790551) 51.63%,
    rgba(0, 0, 0, 0.2) 100%
  );
}

.timeline-item-disc-background {
  background: conic-gradient(
    from 180deg at 50% 50%,
    #363738 0deg,
    rgba(53, 54, 55, 0) 360deg
  );
}

.gallery-item-background {
  background: radial-gradient(
    71.11% 71.11% at 39.95% 83.78%,
    rgba(175, 95, 95, 0) 0%,
    rgba(175, 95, 95, 0.4) 100%
  );
}
.enhancement-item-background {
  background: radial-gradient(
    71.11% 71.11% at 39.95% 83.78%,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.0790551) 51.63%,
    rgba(0, 0, 0, 0.2) 100%
  );
  border: 1px solid;
  border-image: url('#') 1 round;
  border-image-source: linear-gradient(
    270.16deg,
    rgba(0, 0, 0, 0.4) 1.04%,
    rgba(0, 0, 0, 0) 48.58%,
    rgba(0, 0, 0, 0.4) 100.31%
  );
}

.enhancement-item-background {
  background: radial-gradient(
    71.11% 71.11% at 39.95% 83.78%,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.0790551) 51.63%,
    rgba(0, 0, 0, 0.2) 100%
  );
  border: 1px solid;
  border-image: url('#') 1 round;
  border-image-source: linear-gradient(
    270.16deg,
    rgba(0, 0, 0, 0.4) 1.04%,
    rgba(0, 0, 0, 0) 48.58%,
    rgba(0, 0, 0, 0.4) 100.31%
  );
}

.level-item {
  border: 1px solid #af5f5f;

  background: radial-gradient(
    61.54% 112.43% at 22.76% 29.67%,
    rgba(175, 95, 95, 0) 0%,
    rgba(175, 95, 95, 0.4) 100%
  );
  border-radius: 20px;
}

.expanded-item {
  border: 1px solid;

  border-image-source: linear-gradient(
    225.01deg,
    rgba(0, 0, 0, 0.4) 2.38%,
    rgba(0, 0, 0, 0) 47.87%,
    rgba(0, 0, 0, 0.4) 97.35%
  );

  background: radial-gradient(
    71.11% 71.11% at 39.95% 83.78%,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.0790551) 51.63%,
    rgba(0, 0, 0, 0.2) 100%
  );
}

.expanded-item.active {
  border: 1px solid #af5f5f;
  background: radial-gradient(
    67.75% 67.75% at 30.16% 77.78%,
    rgba(175, 95, 95, 0.012) 0%,
    rgba(175, 95, 95, 0.6) 100%
  );
}

/* swiper */
.swiper-pagination-bullet {
  @apply bg-white bg-opacity-60 w-10 h-10 rounded-full mx-5;
}

.swiper-pagination-bullet-active {
  @apply bg-opacity-100;
}

/* screen */
.h-screen-without-navbar {
  height: calc(100vh - 105px);
}

.collection-body-width {
  width: calc(100vw - 400px);
}

/* scroll */
::-webkit-scrollbar {
  width: 0;
  background: transparent; /* make scrollbar transparent */
}

/* background */
.eth-clock-back {
  background: url('/assets/images/landing-page/eth-clock-design-with-empty-back.png')
    no-repeat center center;
}

.road-map-period-circle-border {
  border: 1px solid;
  border-image: url('#') 1 round;
  border-image-source: linear-gradient(
    270.16deg,
    rgba(255, 255, 255, 0.4) 1.04%,
    rgba(255, 255, 255, 0) 48.58%,
    rgba(255, 255, 255, 0.4) 100.31%
  );
}

.background-gray-blur {
  background: radial-gradient(
    1005.73% 84.29% at 253.52% 94.5%,
    rgba(55, 56, 57, 0) 0%,
    rgba(55, 56, 57, 0.16) 100%
  );
  backdrop-filter: blur(100px);
}

.road-map-period-border {
  border-image: url('#') 1 round;
  background: linear-gradient(
    358.07deg,
    rgba(255, 255, 255, 0) 3.27%,
    rgba(255, 255, 255, 0.4) 30.25%,
    rgba(255, 255, 255, 0.4) 72.57%,
    rgba(255, 255, 255, 0) 100%
  );
}

/* animataion */
.animate-spin-60s {
  animation: spin 60s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* vertical letter */
.vertical-letter {
  writing-mode: vertical-rl;
  text-orientation: upright;
}
