.nav-link a:after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    width: 0;
    height: 2px;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    transition: ease width .3s;
}

.nav-link:hover a:after {
    width: 20px;
}

.main-content-wrapper {
    margin-top: -80px;
}
